* {
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    overflow : auto;
    padding: 50px;
    flex-grow: 1;
    min-height: 511px;
}

body {
    background-color: #E7E9EB;
}

.wrapper {
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
